body{
	background-color: brown;
	background-image:"images/1.jpeg";
	
}
p{
color: green;
}
body{
	background-image: url(/images/1.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
}
.akan-description{
	width: 70%;
}
.main{
	float:right;
}
.footer{
text-align:center ;
}
h1{
	color: hotpink;
}