body{
	background-color:blue;
	background-image:"images/2.jpg";
	
}
p{
color: green;
}
body{
	background-image: url(/images/1.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
}
.akan-description{
	width: 70%;
}

.footer{
text-align:center ;
}
h1{
	color: hotpink;
}
.onclick{float: right;
	
}